:root {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color-scheme: light dark;
    /* color: rgba(255, 255, 255, 0.87); */
    color: black;
    /* background-color: rgba(27, 38, 54, 1); */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("./Inter-Medium.ttf") format("truetype");
}

h3 {
    font-size: 3em;
    line-height: 1.1;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

.result {
    height: 20px;
    line-height: 20px;
}

body {
    margin: 0;
    display: flex;
    /* place-items: center;
    place-content: center; */
    /* min-width: 390px;
    min-height: 844px;
    max-width: 390px;
    max-height: 844px; */
}

#app {
    margin-top: 40px auto;
    background-color: pink;
}

.pane {
    width: 374px;
    min-width: 370px;
    max-width: 370px;
    height: 500px;
    min-height: 500px;
    max-height: 500px;
    margin: 3px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px;
    border: 1px solid green;
    background-color: white;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

button {
    width: 60px;
    height: 30px;
    line-height: 30px;
    color: black;
    background-color: white;
    border: 1px solid #555;
    border-radius: 3px;
    padding: 0 8px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    color: white;
    background-color: #555;
}

.label {
    font-size: 0.8em;
    font-weight: bold;
    color: #444;
}

.mb-05 {
    margin-bottom: 0.5em !important;
}
.mb-1 {
    margin-bottom: 1em !important;
}
.mb-2 {
    margin-bottom: 2em !important;
}
.mb-3 {
    margin-bottom: 3em !important;
}
.mb-4 {
    margin-bottom: 4em !important;
}